.floating-element {
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: #ffcc00;
    padding: 10px;
    border: 1px solid #000;
    z-index: 1000; /* Asegura que el elemento esté por encima de otros elementos */
}